window {

    font-family: Cascadia Nerd Font Mono;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background: linear-gradient(270deg, #AFDBF5, #FFB3C6);
    border-radius: 18px;
    padding: 1px;
    width: 100px;
    height: 20px;

}

image {

    size: 10px;
    padding: 3px;
    background: transparent;
    border: 0;
}

progressbar {

    color: #AFDBF5;
    border-radius: 9px;
    padding-right: 5px;
    margin: 3px;
}